$app-grid-title-color: $white !default;

@mixin scrollbars($size, $foreground-color, $background-color) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: rem-calc(20);
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include exports("app-grid") {
  @include scrollbars(0.4rem, $primary-color, $smoke);
  .app-grid {
    height: 100%;
    .app-bar {
      height: rem-calc(50);
      -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
      position: relative;
      z-index: 999;
      .title {
        height: 100%;
        background: $primary-color;

        h1 {
          font-size: rem-calc(16);
          margin: 0;
          color: $app-grid-title-color;
          line-height: rem-calc(50);
          white-space: nowrap;
        }
      }
      .app-menu {
        background: $smoke;
        color: $monsoon;
        height: 100%;
        .element {
          padding: rem-calc(7.5) rem-calc(5);
          &.hover:hover {
            background: $gainsboro;
            .drop-down {
              display: block;
              background: $smoke;
              position: absolute;
              margin-left: -(rem-calc(5));
              margin-right: -(rem-calc(5));
              top: rem-calc(50);
            }
          }
          .drop-down {
            display: none;
          }
        }
        .user {
          line-height: rem-calc(35);
          white-space: nowrap;
          span {
            margin-right: rem-calc(10);
          }
        }
        .ico {
          width: rem-calc(35);
          height: rem-calc(35);
          -webkit-border-radius: 50% !important;
          -moz-border-radius: 50% !important;
          border-radius: 50% !important;
          background: $white;
          text-align: center;
          line-height: rem-calc(35);
          white-space: nowrap;
          &:hover {
            -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
            position: relative;
            z-index: 999;
          }
        }
      }
    }
    .app-content {
      height: 100%;
      margin-top: -(rem-calc(50)) !important;
      padding-top: rem-calc(50);
      nav {
        background: $oil;
        height: 100%;
        padding: 0;
        .nav-element {
          text-align: center;
          padding: rem-calc(5);
          color: $smoke;
          display: block;
          &:hover {
            background: $monsoon;
          }
          i {
            display: inherit;
          }
          span {
            font-size: rem-calc(12);
          }
        }
      }
      .main-section {
        height: 100%;
        background: $gainsboro;
        overflow-y: auto;
        .loading {
          text-align: center;
          color: $monsoon;
          height: 100%;
          line-height: 90vh;
        }
      }
    }
  }
}