@include exports("c-type") {
  @if $include-html-type-classes {
    h1, h2, h3, h4, h5 {
      &.title-panel {
        background: $primary-color;
        color: $white;
        padding: rem-calc(5) rem-calc(10);
        margin-bottom: 0;
        margin-top: rem-calc(8);
        font-size: $base-font-size;
      }
    }
  }
}