<div ng-controller="subjectController">
    <div class="row">
        <div class="small-12 columns">
            <h3>{{ subject.title }}
                <small>Your subjects</small>
            </h3>
        </div>
        <div class="small-12 columns">
            <div class="panel">
                <p>{{ subject.description }}</p>
            </div>
        </div>
        <div class="small-12 columns">
            <h3 class="title-panel">Schedule</h3>
            <div class="panel">
                <ul class="no-bullet">
                    <li ng-repeat="schedule in subject.schedules">
                        <h6>{{ schedule.teacher.username }}</h6>
                        <p>
                            <small>{{ schedule.from_time }} - {{ schedule.to_date }}</small>
                        </p>
                        <p>Room: {{ schedule.classroom }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="small-12 columns">
            <h4 class="title-panel">Lessons</h4>
            <div class="panel">
                <ul class="no-bullet">
                    <li ng-repeat="lesson in subject.lessons">
                        <h4>{{ lesson.title }}</h4>
                        <p>{{ lesson.description }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>