<div ng-controller="homeController">
    <div class="row fluid">
        <div class="small-6 columns">
            <div class="row">
                <div class="small-12 columns">
                    <h4 class="title-panel">News</h4>
                    <div ng-repeat="post in posts" class="panel">
                        <h5><b>{{ post.title }}</b></h5>
                        <p>{{ post.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="row">
                <div class="small-12 columns">
                    <h4 class="title-panel">Welcome User!</h4>
                    <div class="panel">Your statistic:</div>
                </div>
                <div class="small-12 columns">
                    <h4 class="title-panel">My Activities</h4>
                    <div class="panel">Activities</div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>