<div ng-controller="subjectController" ng-init="init()">
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-8 columns">
                    <h3 ng-hide="editable">{{ subject.title }}
                        <small>Detail of {{ subject.title }}</small>
                    </h3>
                    <h3 ng-show="editable">{{ subject.title }}
                        <small>Edit {{ subject.title }}</small>
                    </h3>
                </div>
                <div class="small-4 columns">
                    <ul class="inline-list icon-list right">
                        <li ng-hide="editable && subject.id">
                            <a ui-sref="subjects" class="button tiny radius">
                                <i class="fa fa-arrow-left fa-lg"></i>
                            </a>
                        </li>
                        <li ng-show="editable && subject.id">
                            <a ng-click="methods.editModeDisable()" class="button tiny radius">
                                <i class="fa fa-arrow-left fa-lg"></i>
                            </a>
                        </li>

                        <li ng-hide="editable">
                            <a ng-click="methods.editMode()" class="button tiny radius">
                                <i class="fa fa-pencil fa-lg"></i>
                            </a>
                        </li>
                        <li ng-show="editable">
                            <a ng-click="methods.saveData()" class="button tiny radius">
                                <i class="fa fa-save fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="small-12 columns">
            <div class="panel">
                <p ng-hide="editable">{{ subject.description }}</p>

                <div ng-show="editable">
                    <label>Title
                        <input type="text" ng-model="editData.title">
                    </label>
                    <label>Description
                        <textarea name="description" id="desc" cols="30" rows="10"
                                  ng-model="editData.description"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="small-12 columns">
            <h3 class="title-panel">Schedule</h3>

            <div class="panel">
                <table class="small-12">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Classroom</th>
                        <th ng-show="editable">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="schedule in subject.schedules" ng-hide="editable">
                        <td>{{ schedule.teacher.username }}</td>
                        <td>{{ schedule.from_time }}</td>
                        <td>{{ schedule.to_date }}</td>
                        <td>{{ schedule.classroom }}</td>
                    </tr>
                    <tr ng-repeat="schedule in editData.schedules" ng-show="editable">
                        <td>{{ schedule.teacher.username }}</td>
                        <td>{{ schedule.from_time }}</td>
                        <td>{{ schedule.to_date }}</td>
                        <td>{{ schedule.classroom }}</td>
                        <td class="text-center">
                            <a ng-click="methods.toggleModal('schedule', $index)">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a>
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="button tiny round" ng-show="editable" ng-click="methods.toggleModal('schedule')">
                    <i class="fa fa-plus"></i> Add new schedule
                </a>
            </div>
        </div>
        <div class="small-12 columns">
            <h4 class="title-panel">Lessons</h4>

            <div class="panel">
                <ul class="no-bullet">
                    <li ng-repeat="lesson in subject.lessons" ng-hide="editable">
                        <h4>{{ lesson.title }}</h4>

                        <p>{{ lesson.description }}</p>
                    </li>
                    <li ng-repeat="lesson in editData.lessons" ng-show="editable">
                        <h4>{{ lesson.title }}</h4>
                        <a ng-click="methods.toggleModal('lesson', $index)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a>
                            <i class="fa fa-trash"></i>
                        </a>

                        <p>{{ lesson.description }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="reveal-modal-bg" ng-class="{'open-modal-bg': toggle}" ng-click="methods.toggleModal()"></div>
    <div id="myModal" class="reveal-modal" style="position: fixed;" ng-class="{'open-modal': toggle}" data-reveal
         aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Awesome. I have it.</h2>

        <div ng-if="modalType == 'schedule'">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>From
                        <input type="text" ng-model="currentSchedule.from_time">
                    </label>
                    <label>To
                        <input type="text" ng-model="currentSchedule.to_date">
                    </label>
                    <label>classroom
                        <input type="text" ng-model="currentSchedule.classroom">
                    </label>
                </div>
                <div class="small-12 medium-6 columns"></div>
                <div class="small-12 columns">
                    <a ng-click="methods.saveFeature(currentScheduleId, currentSchedule, editData.schedules)" class="button tiny">
                        <i class="fa fa-save"></i>
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="modalType == 'lesson'">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>From
                        <input type="text" ng-model="currentLesson.title">
                    </label>
                    <label>To
                        <input type="text" ng-model="currentLesson.description">
                    </label>
                </div>
                <div class="small-12 medium-6 columns"></div>
                <div class="small-12 columns">
                    <a ng-click="methods.saveFeature(currentLessonId, currentLesson, editData.lessons)" class="button tiny">
                        <i class="fa fa-save"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>