<div ng-controller="homeController">
    <div class="row fluid">
        <div class="small-6 columns">
            <div class="row">
                <div class="panel">
                    <div class="small-12 columns" ng-repeat="post in posts">
                        <h3>{{ post.title }}</h3>

                        <p>{{ post.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="row">
                <div class="panel">
                    <h2>Welcome, User!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

</div>