<div ng-controller="subjectsController">
    <div class="row">
        <div class="small-12 columns">
            <h3>Subjects
                <small>Your subjects</small>
            </h3>
        </div>
        <div class="small-12 columns">


            <div class="panel">
                <div ng-repeat="subject in subjects">
                    <h5><b>
                        <a ui-sref="subject({ subjectId: subject.id })">{{ subject.title }}</a>
                    </b></h5>
                    <h5>
                        <small>Headteacher: {{ subject.head_teacher.username }}</small>
                    </h5>
                    <p>{{ subject.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>