body {
    background: #EEEEEE;
}

#main {
    height: 100%;
}

#login {
    display: table;
    height: 100%;
    width: 100%;
}

#login-form {
    display: table-cell;
    vertical-align: middle;
}

.open-modal {
    display: block;
    opacity: 1;
    visibility: visible;
}

.open-modal-bg {
    display: block;
}