{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>OpenWikamp - Open platform for High Schools</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <script data-main="/static/app/main.js" src="/static/js/require.js"></script>
    <link rel="stylesheet" href="">
</head>
<body>
<div id="main" ng-controller="frameController">
    <div class="app-bar">
                    <div class="logo"><b ng-bind="name"></b></div>
                    <div class="left-section" ng-click="methods.toggleCanvas()">Home</div>
                    <div class="right-section">
                        <a href="#" class="user">Current User</a>
                    </div>
                </div>
    <div class="off-canvas-wrap" ng-class="{'move-right': offcanvas}">
        <div class="inner-wrap">
            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><label>Foundation</label></li>
                    <li><a href="#">The Psychohistorians</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </aside>
            <section class="main-section">
                <div ui-view></div>
            </section>
        </div>
    </div>
</div>

</body>
</html>